/*
* stylesheet for Tech Review Website
* made by Rachel Hong
* rachelhong@college.harvard.edu
*/

:root {
  --lightblue: #5BA7D8;
  --teal: #1E688B;
  --gold: #1E688B;
  --lightgray: #E6E6E6;
  --darkblue: #00133E;
}