$body-font: "Lato", sans-serif;
$base-font-family: $body-font;
$title-font: "Arvo", serif;
$light-text-color: lighten($text-color, 25%);
$super-light-grey: #eee;
$crimson: #9b1518;
$content-width: 960px;
