--- 
layout: default 
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {%- if site.posts.size > 0 -%}
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/bootstrap.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/techreview.css" />

  <div class="container theme">
    <div class="jumbotron bg-scale p-3 p-md-5 text-white rounded background-image">
      <div class="px-0">
        <h1 class="text-center display-4">
          S C A L E
        </h1>
        <p class="text-center font-italic lead my-2">
          Caption of the theme here.
        </p>
      </div>
    </div>
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post-list">

      {% assign rows = site.posts.size | divided_by: 2.0 | ceil %}
      {% for i in (1..rows) %}
        {% assign offset = forloop.index0 | times: 2 %}
        <div class="row">
          {% for post in site.posts limit:2 offset:offset %}
            <div class="col-6 justify-content-center">
              <div class="flex-md-row h-md-250">
                <div class="py-0 card-body align-items-start">
                  <h3 class="mb-2">
                    <a class="text-dark" href="{{ post.url | relative_url }}">
                      {{post.title}}
                    </a>
                  </h3>
                  <!-- <div class="mb-1 text-muted post-meta">
                    {{ post.date | date: date_format }}
                  </div> -->
                  <p class="mb-0 card-text mb-auto">
                    {{post.excerpt}}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </ul>
  </div>



  <div class="container theme">
    <div class="jumbotron bg-flow p-3 p-md-5 text-white rounded background-image">
      <div class="px-0">
        <h1 class="text-center display-4">
          F L O W
        </h1>
        <p class="text-center font-italic lead my-2">
          Caption of the theme here.
        </p>
      </div>
    </div>
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post-list">

      {% assign rows = site.posts.size | divided_by: 2.0 | ceil %}
      {% for i in (1..rows) %}
        {% assign offset = forloop.index0 | times: 2 %}
        <div class="row">
          {% for post in site.posts limit:2 offset:offset %}
            <div class="col-6 justify-content-center">
              <div class="flex-md-row h-md-250">
                <div class="py-0 card-body align-items-start">
                  <h3 class="mb-2">
                    <a class="text-dark" href="{{ post.url | relative_url }}">
                      {{post.title}}
                    </a>
                  </h3>
                  <!-- <div class="mb-1 text-muted post-meta">
                    {{ post.date | date: date_format }}
                  </div> -->
                  <p class="mb-0 card-text mb-auto">
                    {{post.excerpt}}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </ul>
  </div>

  {%- endif -%}

</div>